:root {
    --color-1: rgb(45, 45, 45);
    --color-2: rgb(70, 135, 219);
    --color-3: rgb(0, 51, 141);
    --color-4: rgb(235, 183, 0);
}

html, body {
    margin: 0;
    background-color: white;
    height: 100%;
}

h1 {
    font-size:3rem;
    opacity: 1;
    transform: translateY(0px);
    animation:fadeInUpwards 1s forwards;
}

.reg {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.bold {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    background-image: linear-gradient(to bottom right, rgb(235, 183, 0), rgb(255, 107, 74));
    padding-top: 50px;
}

.title a {
    width: 100px;
    height: 50px;
}

.title button {
    min-width: 100%;
    padding: 10px;
    background-color: var(--color-3);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: auto;
}

.center {
    text-align: center;
    justify-content: center;
    align-items:center;
}

.info-section {
    margin-bottom: 20px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}


.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-width: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-2);
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.profile-card img {
    width: 100%;
    border-radius: 50%;

}

.profile-card a {
    min-width: 100%;
    background-color: var(--color-3);
}

.profile-card button {
    min-width: 100%;
    padding: 10px;
    background-color: var(--color-3);
    border: none;
    color: white;
    cursor: pointer;
    margin-top: auto;
}

.profile-card button:hover {
    opacity:0.6;
}

@keyframes fadeInUpwards {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeOutUpwards {
    0% {
        opacity: 1;
        transform:translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@media only screen and (max-width: 1080px) {
    .team {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
        justify-items: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .profile-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        min-width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 716px) {
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}